<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Eco Price Calculator</title>
        <link rel="stylesheet" href="styles/main.css">
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="scripts/main.js"></script>
    </head>
    <body>
        <!-- Header -->
        <header>
            <h1>Eco Price Calculator</h1>
            <h2 id="caption">Price List</h2>
        </header>

        <!-- Main Content -->
        <main>
            <div id="price-list" class="pages">
                <div class="main-controls">
                    <label style="width: fit-content;">World:
                        <select id="world-select" style="width: 25dvw;"></select>
                    </label>
                    <div style="flex: 1;"></div>
                    <div style="width: fit-content;">
                        <button onclick="addNewWorld()">Add</button>
                        <button onclick="editWorld()">Edit</button>
                        <button>Delete</button>
                    </div>  
                </div>
                <div class="main-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th><th>Labor</th><th>$</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Light Bulb</td><td>720</td><td>27.7</td></tr>
                            <tr><td>Medium Fishing Trawler</td><td>10286</td><td>395.6</td></tr>
                            <tr><td>Wild Stew</td><td>63</td><td>2.4</td></tr>
                            <tr><td>Light Bulb</td><td>720</td><td>27.7</td></tr>
                            <tr><td>Medium Fishing Trawler</td><td>10286</td><td>395.6</td></tr>
                            <tr><td>Wild Stew</td><td>63</td><td>2.4</td></tr>
                            <tr><td>Light Bulb</td><td>720</td><td>27.7</td></tr>
                            <tr><td>Medium Fishing Trawler</td><td>10286</td><td>395.6</td></tr>
                            <tr><td>Wild Stew</td><td>63</td><td>2.4</td></tr>
                            <tr><td>Light Bulb</td><td>720</td><td>27.7</td></tr>
                            <tr><td>Medium Fishing Trawler</td><td>10286</td><td>395.6</td></tr>
                            <tr><td>Wild Stew</td><td>63</td><td>2.4</td></tr>
                            <tr><td>Light Bulb</td><td>720</td><td>27.7</td></tr>
                            <tr><td>Medium Fishing Trawler</td><td>10286</td><td>395.6</td></tr>
                            <tr><td>Wild Stew</td><td>63</td><td>2.4</td></tr>
                            <tr><td>Light Bulb</td><td>720</td><td>27.7</td></tr>
                            <tr><td>Medium Fishing Trawler</td><td>10286</td><td>395.6</td></tr>
                            <tr><td>Wild Stew</td><td>63</td><td>2.4</td></tr>
                            <tr><td>Light Bulb</td><td>720</td><td>27.7</td></tr>
                            <tr><td>Medium Fishing Trawler</td><td>10286</td><td>395.6</td></tr>
                            <tr><td>Wild Stew</td><td>63</td><td>2.4</td></tr>
                            <tr><td>Light Bulb</td><td>720</td><td>27.7</td></tr>
                            <tr><td>Medium Fishing Trawler</td><td>10286</td><td>395.6</td></tr>
                            <tr><td>Wild Stew</td><td>63</td><td>2.4</td></tr>
                            <tr><td>Light Bulb</td><td>720</td><td>27.7</td></tr>
                            <tr><td>Medium Fishing Trawler</td><td>10286</td><td>395.6</td></tr>
                            <tr><td>Wild Stew</td><td>63</td><td>2.4</td></tr>
                            <tr><td>Light Bulb</td><td>720</td><td>27.7</td></tr>
                            <tr><td>Medium Fishing Trawler</td><td>10286</td><td>395.6</td></tr>
                            <tr><td>Wild Stew</td><td>63</td><td>2.4</td></tr>
                            <tr><td>Light Bulb</td><td>720</td><td>27.7</td></tr>
                            <tr><td>Medium Fishing Trawler</td><td>10286</td><td>395.6</td></tr>
                            <tr><td>Wild Stew</td><td>63</td><td>2.4</td></tr>
                            <tr><td>Light Bulb</td><td>720</td><td>27.7</td></tr>
                            <tr><td>Medium Fishing Trawler</td><td>10286</td><td>395.6</td></tr>
                            <tr><td>Wild Stew</td><td>63</td><td>2.4</td></tr>
                            <tr><td>Light Bulb</td><td>720</td><td>27.7</td></tr>
                            <tr><td>Medium Fishing Trawler</td><td>10286</td><td>395.6</td></tr>
                            <tr><td>Wild Stew</td><td>63</td><td>2.4</td></tr>
                            <tr><td>Light Bulb</td><td>720</td><td>27.7</td></tr>
                            <tr><td>Medium Fishing Trawler</td><td>10286</td><td>395.6</td></tr>
                            <tr><td>Wild Stew</td><td>63</td><td>2.4</td></tr>
                            <tr><td>Light Bulb</td><td>720</td><td>27.7</td></tr>
                            <tr><td>Medium Fishing Trawler</td><td>10286</td><td>395.6</td></tr>
                            <tr><td>Wild Stew</td><td>63</td><td>2.4</td></tr>
                            <tr><td>Light Bulb</td><td>720</td><td>27.7</td></tr>
                            <tr><td>Medium Fishing Trawler</td><td>10286</td><td>395.6</td></tr>
                            <tr><td>Wild Stew</td><td>63</td><td>2.4</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="world-settings" class="pages" style="display: none;"> 
                <div class="settings-params">
                    <label style="width: 100%; display: flex; flex-direction: row;">
                        World name:
                        <input type="text" id="world-settings.world-name" style="flex: 1;" />
                    </label>
                </div>
                <div class="settings-controls">
                    <button id="world-settings.btn-save">Save</button>
                    <button onclick="cancelWorld()">Cancel</button>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <footer>
            <div class="footer-left">
                <p>
                    &copy; 2025 Jura Khozin. All rights reserved. Licensed under the
                    <a href="#" onclick="openModal(event, 'license-modal')">MIT License</a>.
                </p>
            </div>
            <div class="footer-right">
                <a href="#" onclick="openModal(event, 'disclaimer-modal')">Disclaimer</a>
                <a href="#" onclick="openModal(event, 'about-modal')">About</a>
            </div>
        </footer>

        <!-- Disclaimer Modal -->
        <div id="disclaimer-modal" class="modal">
            <div class="modal-content">
                <div
                    hx-get="disclaimer.md"
                    hx-trigger="load"
                    hx-swap="innerHTML"
                    hx-ext="markdown"
                    >
                </div>
                <button onclick="acceptDisclaimer()">Accept</button>
            </div>
        </div>

        <!-- About Modal -->
        <div id="about-modal" class="modal">
            <div class="modal-content">
                <div
                    hx-get="README.md"
                    hx-trigger="load"
                    hx-swap="innerHTML"
                    hx-ext="markdown"
                    >
                </div>
                <button onclick="closeModal('about-modal')">OK</button>
            </div>
        </div>

        <!-- License Modal -->
        <div id="license-modal" class="modal">
            <div class="modal-content">
                <pre
                    class="modal-body"
                    hx-get="LICENSE"
                    hx-trigger="load"
                    hx-swap="innerHTML">
                </pre>
                <button onclick="closeModal('license-modal')">Agree</button>
            </div>
        </div>

        <!-- JavaScript -->
        <script>
            // Check if disclaimer was accepted
            if (!document.cookie.includes("disclaimerAccepted=true")) {
                document.getElementById("disclaimer-modal").style.display = "block";
            }

            htmx.defineExtension('markdown', {
                transformResponse: function(text, xhr, elt) {
                    return marked.parse(text);
                }
            });

            loadWorlds();
        </script>
    </body>
</html>
