/* Main layout */
.application {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

button {
    padding: 0.25rem 1rem;
    border: none;
    background-color: #004391;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
}
button:hover {
    background-color: #117ae4;
}

select, input {
    padding: 0.25rem;
    margin-left: 1rem;
}

/* Main content */
main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}
.pages {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Main page */
.main-controls {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-container {
    flex: 1 1 auto;
    padding: 0;
    overflow-y: auto;
    height: 0;
}
.main-container table {
    width: 100%;
    border-collapse: collapse;
}
.main-container th,
.main-container td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}
.main-container thead {
    position: sticky;
    top: 0;
}
.main-container thead th {
    background: #eee;
}

/* Settings page */
.settings-caption {
    padding-bottom: 1rem;
    text-align: center;
    font-size: x-large;
}
.settings-params {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.settings-controls {
    padding-top: 1rem;
    margin: 1rem 0;
    border-top: 1px solid black;
    text-align: center;
}

/* Modal styling */
.modal-body {
    white-space: pre-wrap;
    text-align: center;
    font-family: monospace;
    margin-bottom: 1rem;                       /* reset possible margins */
}
